@font-face {
  font-family: "Helvetica Bold";
  src: url("/assets/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Helvetica Regular";
  src: url("/assets/fonts/Helvetica.woff") format("woff");
  font-weight: 400;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  font-family: "Helvetica Regular", sans-serif;
  color: rgb(74, 74, 74);
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
@media only screen and (max-width: 767.98px) {
  body {
    font-size: 15px;
    overflow-x: hidden;
  }
}
body.page, body.post {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

button {
  border: 0;
  outline: 0;
}
button:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

input.form-control,
textarea.form-control {
  width: 100%;
  border: none;
  outline: none;
}
input.form-control:focus,
textarea.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

.mh-btn {
  height: 44px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(26, 26, 26);
  color: rgb(26, 26, 26);
  font-weight: 600;
}
.mh-btn i {
  font-size: 18px;
  margin-right: 5px;
}
.mh-btn.mh-btn-primary {
  box-shadow: 0px 6px 12px rgba(26, 26, 26, 0.4);
  color: rgb(255, 255, 255);
  background: #2E3A52;
}
.mh-btn.mh-btn-primary:hover {
  background: rgb(26, 26, 26);
}
.mh-btn.mh-btn-light {
  height: 48px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(26, 26, 26, 0.3);
}
.mh-btn.mh-btn-light:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.mh-btn.mh-border-light {
  border: 1.5px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

/**Font Size & Font Family**/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  text-transform: capitalize;
  font-family: "Helvetica Bold", sans-serif;
  color: rgb(26, 26, 26);
}

.mh-left-sidebar {
  width: 240px;
  background: #EDF5FD;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #EDF5FD;
  height: 100%;
  transition: width 0.5s ease;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-direction: vertical;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.mh-left-sidebar .sidebar-top {
  padding: 20px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
.mh-left-sidebar .sidebar-top .logo {
  width: 120px;
}
.mh-left-sidebar .sidebar-top .logo img {
  height: auto;
  max-width: 70px;
}
.mh-left-sidebar .sidebar-top .arrow {
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: rgb(85, 85, 85);
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}
.mh-left-sidebar .sidebar-top .arrow:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.mh-left-sidebar .sidebar-nav {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.mh-left-sidebar .sidebar-nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  margin: 20px 8px;
}
.mh-left-sidebar .sidebar-nav ul li a {
  padding: 12px 16px;
  height: 64px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  color: rgb(74, 74, 74);
  width: 100%;
  transition: width 0.3s ease;
}
.mh-left-sidebar .sidebar-nav ul li a:hover {
  background: rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}
.mh-left-sidebar .sidebar-nav ul li a.active {
  background-color: #2E3A52;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.mh-left-sidebar .sidebar-nav ul li a.active:hover {
  transform: scale(1);
}
.mh-left-sidebar .sidebar-nav ul li a .icon {
  line-height: 1;
}
.mh-left-sidebar .sidebar-nav ul li a .icon i {
  font-size: 28px;
}
.mh-left-sidebar .sidebar-footer {
  padding: 20px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 12px;
  height: 73px;
}
.mh-left-sidebar .sidebar-footer .user {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: nowrap;
}
.mh-left-sidebar .sidebar-footer .user .user-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  opacity: 1;
  transition: opacity 0.3s ease, max-width 0.3s ease;
}
.mh-left-sidebar .sidebar-footer .user .user-info .avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mh-left-sidebar .sidebar-footer .user .user-info .user-name {
  flex: 1;
  color: rgb(74, 74, 74);
  font-weight: bold;
  max-width: 125px;
}
.mh-left-sidebar .sidebar-footer .user .user-info .user-name .user-id {
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
.mh-left-sidebar .sidebar-footer .user .mh-logout {
  width: 32px;
  height: 32px;
  font-size: 22px;
  color: rgb(136, 136, 136);
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}
.mh-left-sidebar .sidebar-footer .user .mh-logout:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.mh-left-sidebar.collapsed {
  width: 80px;
}
.mh-left-sidebar.collapsed .sidebar-top .arrow {
  margin-top: 10px;
  transform: rotate(180deg);
}
.mh-left-sidebar.collapsed li a {
  width: fit-content;
  transition: width 0.3s ease;
}
.mh-left-sidebar.collapsed li a .text {
  display: none;
}
.mh-left-sidebar.collapsed .sidebar-footer .user {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mh-left-sidebar.collapsed .sidebar-footer .user .user-info {
  display: none;
}

.mh-wlc-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #E5DED4 50%, #F5F1EB 50%);
}
.mh-wlc-wrapper .mh-wlc-content {
  background: rgba(255, 255, 255, 0.95);
  max-width: 400px;
  min-width: 400px;
  position: relative;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  height: fit-content;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  text-align: center;
}
.mh-wlc-wrapper .mh-wlc-content .mh-top-arrow {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: rgb(102, 102, 102);
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: -25px;
  cursor: pointer;
}
.mh-wlc-wrapper .mh-wlc-content .mh-top-arrow:hover {
  background-color: rgba(102, 102, 102, 0.06);
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-header .logo img {
  max-height: 80px;
  object-fit: contain;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-header h1 {
  font-size: 28px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin: 14px 0 8px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-header p {
  font-size: 13px;
  line-height: 18px;
  padding: 0 6px;
  margin-bottom: 20px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box .mh-wlc-header h1 {
  margin: 14px 0 12px;
  position: relative;
  font-weight: 800;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box .mh-wlc-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background: rgb(139, 111, 78);
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box .mh-wlc-list ul li {
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  padding: 12px 10px;
  border: 1px solid rgba(139, 111, 78, 0.2);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  line-height: 18px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box .mh-wlc-list ul li .icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: rgba(139, 111, 78, 0.1);
  border: 1px solid rgba(139, 111, 78, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box .mh-login-actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-direction: vertical;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box,
.mh-wlc-wrapper .mh-wlc-content .mh-create-account,
.mh-wlc-wrapper .mh-wlc-content .mh-login-account {
  opacity: 0;
  display: none;
  transition: opacity 1s ease;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-box.mh-active,
.mh-wlc-wrapper .mh-wlc-content .mh-create-account.mh-active,
.mh-wlc-wrapper .mh-wlc-content .mh-login-account.mh-active {
  display: block;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group {
  margin-bottom: 24px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group .icon:hover {
  background-color: rgba(102, 102, 102, 0.06);
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group input {
  padding: 0px 16px 0px 56px;
  line-height: 19.2px;
  letter-spacing: 0.15px;
  font-size: 16px;
  height: 48px;
  min-height: auto;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group input:focus {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: none;
  outline: none;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group input:focus ~ label {
  transform: scale(0.75);
  background: #fff;
  left: 15px;
  color: #000;
  top: -10px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .form-group label {
  padding: 0;
  left: 56px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  transition: all 0.3s ease;
}
.mh-wlc-wrapper .mh-wlc-content .mh-wlc-account-form .mh-submit-btn {
  margin-top: -8px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-continue-with {
  margin-top: 28px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-continue-guest {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 12px;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  padding: 9px 12px;
  transition: all 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  gap: 5px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-continue-guest:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.mh-wlc-wrapper .mh-wlc-content .mh-continue-guest i {
  font-size: 16px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-have-account {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  margin-top: 4px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-have-account a {
  color: rgb(0, 0, 0);
  margin-left: 6px;
  font-weight: 600;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-wlc-header h1 {
  margin-bottom: 40px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-wlc-account-form input {
  padding: 0 16px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-wlc-account-form label {
  left: 16px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-wlc-account-form a {
  margin-top: -8px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-wlc-account-form .mh-btn {
  height: 56px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-continue-with {
  margin-top: 20px;
}
.mh-wlc-wrapper .mh-wlc-content .mh-login-account .mh-have-account {
  margin-top: 32px;
}

.mh-dashboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background: #EDF5FD;
  overflow: hidden;
}
.mh-dashboard .mh-main-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mh-dashboard .mh-main-content::-webkit-scrollbar {
  display: none;
}
.mh-dashboard .mh-main-content .mh-news-feed {
  max-width: 780px;
  margin: 36px auto 24px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item {
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  padding: 16px 18px 12px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-avatar {
  width: 48px;
  height: 48px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-avatar img {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-name {
  font-weight: 700;
  color: rgb(26, 26, 26);
  letter-spacing: -0.4px;
  margin-bottom: 2px;
  font-size: 17px;
  line-height: 1;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-username {
  font-size: 15px;
  color: rgb(26, 26, 26);
  letter-spacing: -0.2px;
  line-height: 20px;
  font-weight: 700;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-username span {
  color: rgb(74, 74, 74);
  font-weight: 400;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-header a .mh-news-item-posted {
  font-size: 13px;
  font-weight: 500;
  color: rgb(74, 74, 74);
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-content {
  padding: 24px 0 20px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-content .mh-news-item-content-image img {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  max-height: 732px;
  min-height: 732px;
  object-fit: cover;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 20px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer .mh-news-item-footer-icon a {
  padding: 8px;
  min-width: 38px;
  min-height: 38px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(248, 250, 252);
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer .mh-news-item-footer-icon a i {
  font-size: 22px;
  color: rgb(74, 74, 74);
  line-height: 1;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer .mh-news-item-footer-icon a .reaction-count {
  color: rgb(255, 107, 157);
  font-size: 14px;
  letter-spacing: -0.2px;
  font-weight: 600;
  line-height: 1;
  margin-left: 6px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer .mh-news-item-footer-icon a .comments-count {
  background: rgb(226, 232, 240);
  font-size: 12px;
  color: rgb(74, 74, 74);
  min-width: 18px;
  min-height: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: normal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: 4px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-footer .mh-news-item-footer-icon:first-child a {
  background: transparent;
  min-width: auto;
  min-height: auto;
  padding: 4px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments {
  margin-top: 12px;
  padding: 12px 18px;
  border-top: 1px solid rgb(241, 245, 249);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
  gap: 22px;
  position: relative;
  left: -18px;
  right: -16px;
  width: 105%;
  display: none;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments.opened {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments .avatar {
  width: 32px;
  height: 32px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments textarea {
  flex: 1;
  background: rgb(248, 250, 252);
  color: rgb(51, 51, 51);
  font-size: 15px;
  min-height: 40px;
  padding: 10px 14px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  resize: none;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments textarea::placeholder {
  color: #94A3B8;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments .mh-send-comments {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(226, 232, 240);
  font-size: 20px;
  color: rgb(203, 213, 225);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-news-content .mh-news-item .mh-news-item-comments .mh-send-comments:hover {
  background: #2E3A52;
  color: white;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 0;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid rgb(241, 245, 249);
  padding: 16px 20px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-header h5 {
  font-weight: 700;
  color: rgb(26, 26, 26);
  letter-spacing: -0.3px;
  font-size: 18px;
  line-height: 1;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-header button {
  border: 0;
  color: rgb(100, 116, 139);
  font-size: 16px;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-header button:focus {
  box-shadow: none;
  outline: none;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-body {
  padding: 0;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-body ul li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(241, 245, 249);
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-body ul li .icon {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-body ul li .icon i {
  font-size: 24px;
  color: rgb(99, 102, 241);
}
.mh-dashboard .mh-main-content .mh-news-feed .mh-share-memoria .mh-share-memoria-body ul li .text {
  color: rgb(26, 26, 26);
  font-weight: 500;
  letter-spacing: -0.2px;
}

/*# sourceMappingURL=style.css.map */
