@use '../abstracts/mixins' as *;
@use '../abstracts/variable' as *;
@use '../base/reset' as *;

.mh-memorial-content {
    max-width: 800px;
    margin: 0 auto;
    .cover {
        height: 217px;
        background: rgba(240,240,240,1.00);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(244, 239, 227));
        }
        img{
            object-fit: cover;
        }
    }
    .user-profile{
        margin-top: -90px;
        padding: 15px;
        text-align: center;
        position: relative;
        z-index: 9;
        img {
            box-shadow: 0px 2px 3.84px rgba(0,0,0,0.25);
            border-radius: 40px;
            border: 6px solid white;
            background: rgba(244,239,227,1.00);
            width: 120px;
            height: 120px;
            margin-bottom: 10px;
        }
        h1{
            font-size: 24px;
            color: $color-black;
            font-weight: 700;
            margin-bottom: 4px;
            line-height: 1;
        }
        p{
            font-size: 16px;
            margin-bottom: 4px;
            color: rgba(102, 102, 102, 1.00);
        }
        ul.list{
            @include d-flex();
            @include justify-content(center);
            gap: 16px;
            margin-top: 14px;
            li{
                a{
                    padding: 6px;
                    display: block;
                    width: 40px;
                    height: 40px;
                    @include bd-radius(20px);
                    font-size: 24px;
                    color: $color-black;
                }
                &:last-child {
                    a{
                        &:hover{
                            background-color: rgba(0,0,0,0.06);
                        }
                    }
                }
            }
        }
    }

    .memorial-tabs{
        nav{
            .nav-tabs{
                border: 0;
                .nav-link{
                    flex: 1;
                    background: transparent;
                    color: rgba(102,102,102,1.00);
                    font-size: 16px;
                    padding: 10px 0;
                    border: 0;
                    border-bottom: 2px solid transparent;
                    &.active{
                        border-color: $color-black;
                        font-weight: 600;
                        color: $color-black;
                        background: transparent;
                    }
                }
            }
        }
        .tab-content{
            padding: 20px;
            .tab-content{
                padding: 16px;
                margin-top: 22px;
                .bio-about-content{
                    .item{
                        margin-bottom: 40px;
                        h2{
                            font-size: 18px;
                            color: rgba(68,68,68,1.00);
                            font-weight: bold;
                            margin-bottom: 12px;
                        }
                        ul{
                            li{
                                padding: 8px 0;
                                border-bottom: 1px solid rgba(224,224,224,1.00);
                                @include d-flex();
                                @include align-items(center);
                                font-size: 14px;
                                h4{
                                    font-weight: bold;
                                    width: 120px;
                                    font-size: 14px;
                                    color: rgba(102,102,102,1.00);
                                }
                                p{
                                    flex: 1;
                                    line-height: 1;
                                    color: rgba(68,68,68,1.00);
                                }
                                &:last-child{
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .bio-location-info{
                    h2{
                        font-size: 18px;
                        margin-bottom: 16px;
                        font-weight: bold;
                    }
                    .details{
                        margin-top: 24px;
                        ul{
                            li{
                                margin-bottom: 24px;
                                p{
                                    font-size: 14px;
                                }
                                h3{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}